@font-face {
  font-family: 'Rubik Regular';
  src: url("Rubik-Regular.eot");
  src: url("Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("Rubik-Regular.woff") format("woff"), url("Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("SourceSansPro-Regular.eot");
  src: url("SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("SourceSansPro-Regular.woff") format("woff"), url("SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Rubik Regular', sans-serif;
  background-color: #F0F0F0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.header {
  width: 100%;
  position: relative;
  background: url("../img/lifepharma5.jpg") no-repeat center center;
  background-size: cover;
}

.header-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #6055c6 0%, rgba(0, 0, 0, 0.75) 100%);
  z-index: 1;
}

.header-wrap {
  max-width: 1170px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

.navbar {
  width: 100%;
}

.navbar__logo {
  color: #ffffff;
  font-family: 'Quantify', sans serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.navbar__top {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar__bottom {
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__bottom li {
  margin: 15px;
}

.navbar__bottom a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.28px;
}

.navbar__date {
  width: 200px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin: 15px 30px;
  text-align: center;
}

.navbar__socials {
  max-width: 233px;
}

.navbar__socials li {
  margin: 15px 10px;
}

.navbar__search, .navbar__profile, .navbar__shop {
  display: inline-block;
  margin: 15px 30px;
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .navbar__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  z-index: 10;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-icon-line {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.menu-icon-line::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 25px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon-line::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 25px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: top .2s linear .2s, -webkit-transform .2s ease-in;
  transition: top .2s linear .2s, -webkit-transform .2s ease-in;
  transition: transform .2s ease-in, top .2s linear .2s;
  transition: transform .2s ease-in, top .2s linear .2s, -webkit-transform .2s ease-in;
}

.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
  transition: top .2s linear, -webkit-transform .2s ease-in .2s;
  transition: top .2s linear, transform .2s ease-in .2s;
  transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
  transition: top .2s linear, -webkit-transform .2s ease-in .2s;
  transition: top .2s linear, transform .2s ease-in .2s;
  transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
}

.hero {
  width: 100%;
  max-width: 921px;
  height: 650px;
  margin-top: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
}

.hero-wrap {
  width: 100%;
  max-width: 600px;
}

.hero .hero__text-item {
  margin: 15px;
}

.hero .p1 {
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero .p2 {
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.32px;
}

.hero h2 {
  width: 100%;
  max-width: 507px;
  color: #ffffff;
  font-family: 'Rubik Regular', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.hero .professional {
  font-size: calc(1em + 1.5vw);
  font-weight: 700;
  letter-spacing: 1.04px;
}

.hero .medical {
  font-size: calc(1em + 1vw);
  font-weight: 400;
  letter-spacing: 1.04px;
}

.hero .btn-details {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 23px;
  background-color: #ffffff;
  color: #8277ed;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
}

.hero .btn-details:hover {
  background: #F0F0F0;
}

.shape {
  width: 100%;
  position: relative;
  margin-top: -200px;
  height: 309px;
  z-index: 2;
  background: url("../img/shape.png") no-repeat center;
  background-size: cover;
}

.about {
  width: 100%;
  -webkit-box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.about-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.about__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -75px;
  position: relative;
  z-index: 2;
}

.about__top__item {
  width: 100%;
  max-width: 370px;
  height: 166px;
  margin: 30px 10px;
  padding: 20px;
  -webkit-box-shadow: 0 5px 43px rgba(0, 0, 0, 0.26);
          box-shadow: 0 5px 43px rgba(0, 0, 0, 0.26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__top__item:nth-child(1) {
  background-color: #8277ed;
  color: #b8b1ff;
}

.about__top__item:nth-child(2) {
  background-color: #858eed;
  color: #b8b1ff;
}

.about__top__item:nth-child(3) {
  background-color: #86b0f5;
  color: #ffffff;
}

.about__top__item img {
  display: inline-block;
  width: 100%;
  max-width: 84px;
  height: auto;
  margin: 0 10px;
}

.about__top .to-bot {
  margin-bottom: -50px;
}

.about__top .to-top {
  margin-top: -50px;
}

@media screen and (max-width: 1024px) {
  .about__top .to-top {
    margin: 10px;
  }
  .about__top .to-bot {
    margin: 10px;
  }
}

.about__top .item__text {
  display: inline-block;
  margin: 0 5px;
}

.about__top .item__text h3 {
  height: 10px;
  color: #ffffff;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.about__top .item__text p {
  width: 100%;
  max-width: 199px;
  height: 61px;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__main__text {
  max-width: 487px;
  width: 100%;
}

.about__main__text-item {
  margin: 15px 10px;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.about__main__text-item h2 {
  display: inline-block;
  margin: 0 10px;
}

.about__main .about-title {
  color: #040404;
  font-family: 'Rubik Regular', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 25px;
}

.about__main .about-subtitle {
  color: #909090;
}

.about__main p {
  color: #aeaeae;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.about__main .about-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__main .about-author__item {
  margin: 10px;
}

.about__main .about-author .author-name {
  color: #909090;
  font-weight: 500;
}

.about__main__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 600px;
}

.about__main .statistic-item {
  width: 100%;
  max-width: 184px;
  min-height: 220px;
  margin: 25px 50px;
}

.about__main .statistic-item img {
  display: block;
  margin: 0 auto;
}

.about__main .statistic-item p {
  margin: 10px;
}

.about__main .statistic-item-humbers {
  color: #8277ed;
  font-family: 'Rubik Regular', sans-serif;
  font-size: calc(1em + .5vw);
  font-weight: 500;
  line-height: 25px;
}

.about__main .statistic-item-desc {
  color: #898989;
  font-family: 'Rubik Regular', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.about__main .statistic-item-text {
  color: #aeaeae;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.services {
  position: relative;
  width: 100%;
  background: url("../img/service-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 5rem 2rem;
}

@media screen and (max-width: 640px) {
  .services {
    background: #2F2F2F;
  }
}

.services-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #6055c6 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}

.services-wrap {
  position: relative;
  widows: 100%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.services__title {
  color: #ffffff;
  font-size: calc(1em + .5vw);
  font-weight: 500;
  line-height: 25px;
}

.services__title h2 {
  display: inline-block;
}

.services-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-top .service {
  width: 220px;
  padding: 10px;
  margin: 30px;
  text-align: start;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.services-top .service__item {
  margin: 10px 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.services-top .service__img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #6055c6;
}

.services-top .service__title {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.services-top .service__subtitle {
  color: #9f95ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.services-top .service__description {
  color: #cec9ff;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.services-top .service:hover {
  background: #ffffff;
}

.services-top .service:hover .service__img {
  background-color: #e7e7e7;
}

.services-top .service:hover .service__title {
  color: #8277ed;
}

.services-top .service:hover .service__subtitle {
  color: #898989;
}

.services-top .service:hover .service__description {
  color: #aeaeae;
}

.testimotals {
  width: 100%;
  padding: 5rem 1rem;
}

.testimotals-wrap {
  width: 100%;
  position: relative;
  max-width: 1170px;
  padding: 5rem 0 0;
  margin: 0 auto;
  text-align: center;
  background-color: #8277ed;
  border: 1px solid #8277ed;
}

.testimotals-wrap::before {
  position: absolute;
  bottom: calc(-1em - 2vw);
  right: 10%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc(1em + 2vw) calc(1em + 2vw) 0 calc(1em + 2vw);
  border-color: #8277ed transparent transparent transparent;
  z-index: 1;
}

.testimotals-wrap::after {
  position: absolute;
  bottom: calc(-1em - 2vw);
  right: 12%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc(1em + 2vw) calc(1em + 2vw) 0 calc(1em + 2vw);
  border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
  z-index: 0;
}

.testimotals__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 25px;
}

.testimotals .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0;
}

.testimotals .content__logo {
  width: 100%;
  max-width: 400px;
  height: 400px;
  border-radius: 30px;
  border: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8277ed;
  font-family: 'Rubik Regular', sans-serif;
  font-size: calc(1em + .5vw);
  font-weight: 500;
  line-height: 25px;
}

@media screen and (max-width: 426px) {
  .testimotals .content__logo {
    border: none;
    height: 300px;
  }
}

.testimotals .content__logo__item {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimotals .content__logo-desc {
  color: #898989;
  font-family: 'Rubik Regular', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.testimotals .content__logo-text {
  color: #aeaeae;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.testimotals .content__scrollbar {
  width: 100%;
  margin-top: 25px;
  max-width: 600px;
  padding: 10px;
  height: 650px;
  overflow-y: scroll;
}

.testimotals .comment {
  max-width: 570px;
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimotals .comment__logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: gray;
}

.testimotals .comment__text {
  width: 100%;
  max-width: 446px;
  text-align: start;
  margin: 0 15px;
}

.testimotals .comment p {
  margin: 15px 0;
  color: #ffffff;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.testimotals .comment h5 {
  color: #d6d2ff;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.testimotals .comment h4 {
  color: #ffffff;
  font-family: 'Rubik Regular', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.slider-container {
  width: 100%;
  padding: 5rem 1rem;
}

.swiper-container {
  width: 100%;
  max-width: 1170px;
  height: 500px;
}

.swiper-container .swiper-slide {
  background: #ffffff;
}

.swiper-container .swiper-slide-active {
  border-bottom: 2px solid #8277ed;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

.slider-title {
  margin: 30px auto;
  text-align: center;
  color: #040404;
  font-size: 30px;
  font-weight: 500;
  line-height: 25px;
}

.slide-image {
  width: 100%;
  height: 45%;
  background: rgba(0, 0, 0, 0.5);
}

.slide-date {
  padding: 10px 50px;
  text-align: end;
}

.slide-date p {
  display: inline-block;
  color: #a7a7a7;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.48px;
}

.slide-date .author {
  color: #050505;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.slide-text {
  padding: 20px;
}

.slide-text h3 {
  color: #8277ed;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.slide-text p {
  color: #757575;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.26px;
  margin: 15px 0 25px;
}

.slide-text a {
  color: #a7a7a7;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.footer {
  width: 100%;
  padding: 5rem 2rem;
  background-color: #2f2f2f;
}

.footer-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer-top__item {
  max-width: 272px;
  width: 100%;
  margin: 25px;
}

.footer-top__item-title {
  margin-bottom: 60px;
}

.footer-top__item p, .footer-top__item a, .footer-top__item-title, .footer-top__item .news {
  color: #ffffff;
  opacity: .8;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.footer-top__item a {
  display: block;
  margin: 5px 0;
}

.footer-top__item .footer-top__text, .footer-top__item .news {
  margin-bottom: 50px;
}

.footer-top__item input {
  width: 270px;
  height: 41px;
  border: none;
  border-radius: 2px;
  background-color: #393939;
  margin: 10px 0;
  padding: 10px 25px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-top__item button {
  width: 270px;
  height: 41px;
  border: none;
  -webkit-box-shadow: 0 17px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 17px 40px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #6055c6;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}

.footer-top__links {
  max-width: 100px;
}

.footer-middle {
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-middle .phone {
  width: 231px;
  height: 100px;
  background-color: #6055c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-middle p, .footer-middle a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.28px;
  margin: 20px;
}

.footer-middle img {
  width: 60px;
  height: 52px;
}

.footer-bottom {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.48px;
}
/*# sourceMappingURL=main.css.map */