@font-face {
    font-family: 'Rubik Regular';
    src: url('Rubik-Regular.eot');
    src: url('Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('Rubik-Regular.woff') format('woff'),
    url('Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@mixin Rubik {
    font-family: 'Rubik Regular', sans-serif;
}

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('SourceSansPro-Regular.eot');
    src: url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-Regular.woff') format('woff'),
    url('SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@mixin SourceSansPro {
    font-family: 'Source Sans Pro Regular', sans-serif;
}
    